.platform {
  padding: 2px 0;
  box-sizing: border-box;
  user-select: none;
  color: #ccc;
  background-color: rgb(37, 37, 38);
  outline-color: rgba(83, 89, 93, 0.5);
  & > ul {
    list-style: none;
    padding: 0;
    & > li {
      border-right: 10px solid opacity($color: rgb(172, 172, 172));
      height: 50px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      .platformAvatar {
        margin-right: 5px;
      }
      .describe {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        .title {
          font-weight: bolder;
          line-height: 30px;
          height: 30px;
        }
        .desc {
          font-size: 11px;
          line-height: 13px;
          flex: 1;
          color: #ccc;
        }
      }
      &:hover {
        background: #2a2d2e;
      }
    }
  }
}
