.platform {
  padding: 2px 0;
  box-sizing: border-box;
  user-select: none;
  & > ul {
    list-style: none;
    padding: 0 5px;
    & > li {
      border-bottom: 1px solid #f0f0f0;
      border-right: 10px solid opacity($color: #fff);
      height: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      .platformAvatar {
        margin-right: 5px;
      }
      .describe {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        .title {
          font-weight: bolder;
          line-height: 30px;
          height: 30px;
        }
        .desc {
          font-size: 11px;
          flex: 1;
        }
      }
    }
  }
}
