// bg
$ab-bg-color-dark1: #1e1e1e;
$ab-bg-color-dark2: #313131;
$ab-bg-color-dark3: rgb(51, 51, 51);
$ab-bg-color-dark4: rgb(37, 37, 38);

// text
$ab-text-color-dark1: #d4d4d4;
$ab-text-color-dark2: rgba(255, 255, 255, 0.5);

// border
$ab-border-color-dark1: #303030;
