@import '../../../../styles//generalVariable.global.scss';

.resourceManagerContent {
  height: 435px;
  width: 100%;
  .resourceBox {
    height: 435px;
    overflow-y: scroll;
    .resourceItem {
      .checkbox {
        // z-index: 9999;
      }
      .resourceImage {
      }
      .resourceTool {
      }
    }
  }
}
