@import '../../../../styles//generalVariable.global.scss';

.resourceManagerContent {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .resourceManagerHeader {
    height: 50px;
    width: 100%;
    background-color: $ab-bg-color-dark1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    .selectNum {
      font-size: 11px;
      margin-left: 5px;
    }
    .itemIcon {
      margin: 0 10px;
    }
  }

  .resourceBox {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    align-content: flex-start;
    .resourceItem {
      position: relative;
      overflow: hidden;
      padding: 6px;
      .checkbox {
        position: absolute;
        top: -3px;
        left: 0;
      }
      .resourceImage {
      }
      .resourceTool {
        margin-top: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .toolIcon {
          margin-right: 3px;
          cursor: pointer;
        }
        .toolIconLast {
          cursor: pointer;
        }

        .resourceItemTag {
          width: 10px;
          height: 10px;
          display: inline-block;
          border-radius: 50%;
        }
      }
    }

    .previewImgText {
      position: relative;

      div:nth-last-child(1) {
        font-size: 8px;
        position: absolute;
        top: -25px;
        left: 5px;
        width: 60px;
        color: rgba($color: #fff, $alpha: 0.7);
      }
    }
  }

  .resourceManagerFooter {
    display: flex;
    margin: 5px 0;
    height: 25px;
    justify-content: flex-end;
  }
}
