.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-list-item-meta-avatar {

  .typeColor {
    font-size: 30px;
    height: 48px;
    line-height: 50px;
  }
  .typeColorSuccess {
    color: #52c41a;
  }

  .typeColorError {
    color: #c0392b;
  }
}
